---
- name: Install zsh
  ansible.builtin.package:
    name: zsh
    state: present
  become: true

- name: Install zinit
  ansible.builtin.git:
    repo: https://github.com/zdharma-continuum/zinit.git
    dest: "{{ zinit_home }}"

- name: Copy .zshrc
  ansible.builtin.copy:
    src: files/.zshrc
    dest: "{{ ansible_env.HOME }}/.zshrc"

- name: Copy .zshenv
  ansible.builtin.copy:
    src: files/.zshenv
    dest: "{{ ansible_env.HOME }}/.zshenv"

- name: Copy .dircolors
  ansible.builtin.copy:
    src: files/.dircolors
    dest: "{{ ansible_env.HOME }}/.dircolors"

- name: Copy .p10k.zsh
  ansible.builtin.copy:
    src: files/.p10k.zsh
    dest: "{{ ansible_env.HOME }}/.p10k.zsh"

- name: Ensure zsh is the default shell
  ansible.builtin.user:
    name: "{{ ansible_env.USER }}"
    shell: /usr/bin/zsh
  become: true
