---
- name: Install zsh
  ansible.builtin.package:
    name: zsh
    state: present
  become: "{{ ansible_facts['os_family'] != 'Darwin' }}"

- name: Install zinit
  ansible.builtin.git:
    repo: https://github.com/zdharma-continuum/zinit.git
    dest: "{{ zinit_home }}"

- name: Copy .zshrc
  ansible.builtin.copy:
    src: files/.zshrc
    dest: "{{ ansible_facts['env'].HOME }}/.zshrc"

- name: Copy .zshenv
  ansible.builtin.copy:
    src: files/.zshenv
    dest: "{{ ansible_facts['env'].HOME }}/.zshenv"

- name: Copy .dircolors
  ansible.builtin.copy:
    src: files/.dircolors
    dest: "{{ ansible_facts['env'].HOME }}/.dircolors"

- name: Copy .p10k.zsh
  ansible.builtin.copy:
    src: files/.p10k.zsh
    dest: "{{ ansible_facts['env'].HOME }}/.p10k.zsh"

- name: debug print user
  ansible.builtin.debug:
    msg: "user: {{ ansible_facts['env'].USER }}"

- name: Ensure zsh is the default shell
  ansible.builtin.user:
    name: "{{ ansible_facts['env'].USER }}"
    shell: /usr/bin/zsh
  become: true
