---
- name: Check if nvm is already installed
  ansible.builtin.stat:
    path: "{{ nvm_dir }}/nvm.sh"
  register: nvm_sh

- name: Install nvm in non-Windows systems
  ansible.builtin.shell: |
    wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/{{ nvm_version }}/install.sh | bash
  when: not nvm_sh.stat.exists and ansible_facts['os_family'] != 'Windows'
  changed_when: nvm_sh.stat.exists

- name: Debug
  ansible.builtin.debug:
    msg: "{{ nvm_dir }}/nvm.sh already exists, skipping nvm installation."

# - name: Load nvm
#   ansible.builtin.shell: $NVM_DIR/nvm.sh
#   environment:
#     NVM_DIR: "{{ nvm_dir }}"

# - name: Install Node.js
#   ansible.builtin.shell: nvm install {{ item }}
#   with_items: "{{ node_versions }}"
#   environment:
#     NVM_DIR: "{{ nvm_dir }}"
