---
- name: Install Git
  ansible.builtin.package:
    name: git
    state: present
  become: true

- name: Install Git completion scripts
  ansible.builtin.get_url:
    url: "https://raw.githubusercontent.com/git/git/refs/heads/master/contrib/completion/{{ item }}"
    dest: "{{ ansible_facts['env'].HOME }}/.{{ item }}"
  with_items:
    - git-completion.bash
    - git-completion.zsh

- name: Copy .gitconfig
  ansible.builtin.copy:
    src: .gitconfig
    dest: "{{ ansible_facts['env'].HOME }}/.gitconfig"
